@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500&display=swap');

:root {
  --rubik-font: 'Rubik', sans-serif;

  /* colors */
  --soft-blue: hsl(231, 69%, 65%);
  --soft-red: hsl(0, 94%, 66%);
  --grayish-blue: hsl(229, 8%, 60%);
  --light-gray: hsla(0, 10%, 90%, 0.221);
  --dark-blue: hsl(229, 31%, 21%);
  --white: hsl(0, 0%, 100%);

  --nav-link-item: 0.75rem;
  --footer-link-item: 0.75rem;
  --nav-btn: 0.75rem;
  --hero-title: 2.5rem;
  --hero-subtitle: 1rem;
  --btn-font-size: 1rem;
  --title: 1.75rem;
  --subtitle: 1.25rem;
  --tab-title: 1rem;
  --card-title: 1.25rem;
  --card-subtitle: 1rem;
  --acc-item: 1rem;
  --regular: 400;
  --medium: 500;
  --semibold: 600;
  --spacing: 0.8px;
  --height: 1.5;

  --container-desktop-padding: 2rem 6rem;
  --container-padding: 2rem;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
h1::selection,
h2::selection,
p::selection,
button::selection,
a::selection {
  background-color: var(--soft-blue);
  color: var(--white);
}

body,
input,
button {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: var(--rubik-font);
  letter-spacing: var(--spacing);
  line-height: var(--height);
}
.container {
  width: 100%;
  max-width: 1920px;
  min-width: 200px;
}
.header {
  overflow: hidden;
  width: 100%;
  display: flex;
  flex-direction: column;
}
.header-menu {
  display: flex;
  justify-content: space-between;
  padding: var(--container-desktop-padding);
  align-items: center;
  margin-bottom: 2rem;
}

.logo {
  width: 120px;
}
img {
  padding: 0.5rem 0.5rem 0.5rem 0;
  width: 100%;
}
.header-nav-menu {
  display: flex;
  align-items: center;
}
.nav-list {
  display: flex;
  align-items: center;
  list-style: none;
  margin: 0 1rem;
}
.nav-link-item {
  cursor: pointer;
  padding: 0.75rem;
}
.nav-link-item a {
  font-size: var(--nav-link-item);
  font-weight: var(--regular);
  text-decoration: none;
  color: var(--dark-blue);
  font-weight: var(--medium);
  text-transform: uppercase;
}
.nav-link-item a:hover,
.nav-link-item a:focus {
  color: var(--soft-red);
}

.btn {
  text-align: center;
  outline: none;
  border: 3px solid var(--light-gray);
  cursor: pointer;
  font-size: var(--btn-font-size);
  background-color: var(--light-gray);
  font-weight: var(--medium);
  padding: 0.5rem 1.5rem;
  color: var(--dark-blue);
  border-radius: 0.3rem;
  box-shadow: rgba(140, 190, 255, 0.286) 0px 4px 6px 0px,
    rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
}

.btn:hover {
  background: none;
  box-shadow: none;
  background-color: var(--white);
  color: var(--grayish-blue);
  border-color: var(--grayish-blue);
}

#nav-btn {
  background-color: var(--soft-red);
  color: var(--white);
  border: 3px solid var(--soft-red);
  padding: 0;
  padding: 0.35rem 1.5rem;
  text-transform: uppercase;
  box-shadow: rgba(251, 168, 168, 1) 0px 4px 8px,
    rgba(0, 0, 0, 0.06) 0px 10px 8px 0px;
}
#nav-btn:hover,
#nav-btn:focus {
  box-shadow: none;
  background: none;
  background-color: var(--white);
  color: var(--soft-red);
}
.hero {
  padding-left: 6rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 4rem;
  margin: 4rem 0;
  align-items: start;
}
.hero-main {
  margin-right: 2rem;
  display: flex;
  flex-direction: column;
  min-width: 200px;
  width: 100%;
  max-width: 500px;
}
.hero-text {
  display: flex;
  flex-direction: column;
  text-align: left;
  margin-bottom: 1.5rem;
}
.hero-title {
  color: var(--dark-blue);
  font-size: var(--hero-title);
  font-weight: var(--semibold);
  margin-bottom: 1rem;
}
.hero-subtitle {
  word-spacing: 0.5px;
  color: var(--grayish-blue);
  font-size: var(--hero-subtitle);
}

.hero-btn-menu {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.btn-blue {
  margin-right: 1rem;
  border: 3px solid var(--soft-blue);
  color: var(--white);
  background-color: var(--soft-blue);
}
.btn-blue:hover {
  border-color: var(--soft-blue);
  color: var(--soft-blue);
}
.hero-illustration {
  justify-self: end;
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  border-radius: 10000px 0 0rem 10000px;
  background-color: var(--soft-blue);
  width: 100%;
  max-width: 700px;
  height: 100%;
  max-height: 300px;
  margin: 8rem -4rem 0 0rem;
}
.hero-illustration img {
  width: 100%;
  /* padding-right: 0rem; */
  margin: 0 0 10rem -18rem;
}

/* main-container */
.main {
  width: 100%;
  margin: 4rem 0 0;
}

.features {
  width: 100%;
  display: flex;
  overflow: hidden;
  flex-direction: column;
}

.text {
  align-self: center;
  text-align: center;
  max-width: 600px;
  min-width: 180px;
  margin-bottom: 4rem;
}

.title {
  font-size: var(--title);
  font-weight: var(--medium);
  color: var(--dark-blue);
  padding: 0.5rem 0;
  margin-bottom: 0.5rem;
}
.subtitle {
  line-height: var(--height);
  font-size: var(--subtitle);
  color: var(--grayish-blue);
}
.tab-list {
  align-self: center;
  list-style: none;
  display: flex;
  border-radius: 2px;
  width: max-content;
  box-shadow: rgba(140, 190, 255, 0.286) 0px 1px, rgba(0, 0, 0, 0.06) 0px 1px;
  margin-bottom: 4rem;
}
.tab-list-item {
  cursor: pointer;
  /* justify-self: stretch; */
  display: flex;
  justify-content: center;
  margin-right: 2rem;
  font-size: var(--tab-title);
  font-weight: var(--medium);
  color: var(--grayish-blue);
  border-radius: 3px;
  border-bottom: 4px solid var(--white);
}
.tab-list-item p {
  padding: 0.75rem 1.5rem;
  border-radius: 3px;
}
.tab-list-item:last-child {
  margin: 0;
}
.tab-list-item:focus,
.tab-list-item:hover,
.tab-list-item.active {
  border-color: var(--soft-red);
  color: var(--dark-blue);
}

.tab-content-container {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.tab-content {
  margin-bottom: 4rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 4rem;
  justify-content: space-between;
  align-items: stretch;
  display: none;
}
.tab-item-text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: max-content;
  padding: 2rem 6rem 0rem 0rem;
  margin-left: 2rem;
  height: max-content;
}
.tab-text {
  text-align: left;
  padding: 0;
}
.tab-item-illustration {
  width: max-content;
  margin-right: 2rem;
  align-self: flex-end;
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  max-height: 300px;
  width: 100%;
  max-width: 500px;
  margin: 10rem 6rem 0 0;
  border-radius: 0 10000px 10000px 0;
  background-color: var(--soft-blue);
}
.illustration {
  padding-left: 2rem;
  width: 100%;
  margin: 0 -10rem 12rem 0;
}

.active {
  display: flex;
}

/* download container */
.download {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: var(--container-padding);
  margin-bottom: 4rem;
}

.download-menu {
  display: flex;
  align-items: stretch;
  margin: 2rem 0;
}
.card {
  margin-right: 2rem;
  width: 100%;
  min-width: 150px;
  background-color: var(--white);
  box-shadow: hsla(208, 92%, 95%, 0.722) 0px 10px 8px 0px,
    rgba(0, 0, 0, 0.2) 0px 4px 8px -2px;
  border-radius: 8px;
}
.card:last-child {
  margin: 0;
}

.card-body {
  width: 100%;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  padding: 1rem 1.5rem;
}
.card-img {
  width: 120px;
  margin-bottom: 1rem;
}
.card-logo {
  width: 100%;
}
.card-title {
  font-size: var(--card-title);
  font-weight: var(--medium);
  margin-bottom: 0.5rem;
  color: var(--dark-blue);
}
.card-subtitle {
  margin-bottom: 1rem;
  font-size: var(--card-subtitle);
  font-weight: var(--regular);
  color: var(--grayish-blue);
}
.card-seperation img {
  width: 100%;
  margin: 0.25rem 0;
}
.card-btn-menu {
  padding: 1rem 1.5rem;
}

.card-btn {
  margin: 0;
  font-size: var(--btn-font-size);
  padding: 0.75rem 1.5rem;
  width: 100%;
}

.card:nth-of-type(1) {
  transform: translateY(-3rem);
}
.card:nth-of-type(3) {
  transform: translateY(3rem);
}

/* faq container */
.faq {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: var(--container-padding);
  width: 100%;
  margin-bottom: 4rem;
}
.accordian {
  width: 100%;
  max-width: 600px;
  min-width: 150px;
  margin-bottom: 4rem;
}
.accordian-item {
  border-top: 1px solid var(--grayish-blue);
  padding: 1rem 0 0;
  font-size: var(--acc-item);
}
.accordian-item:last-child {
  border-bottom: 1px solid var(--grayish-blue);
}

.item-ques {
  cursor: pointer;
  color: var(--dark-blue);
  display: grid;
  grid-template-columns: 1fr 28px;
  gap: 10px;
  justify-content: space-between;
  padding: 0 0.5rem 1rem;
  font-weight: var(--medium);
}
.acc-item-title:hover {
  color: var(--soft-red);
}
.arrow-icon {
  width: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.open {
  transform-origin: center;
  color: var(--soft-red);
  transform: rotateX(180deg);
}
.item-answer {
  border-top: 1px solid var(--grayish-blue);
  color: var(--grayish-blue);
  font-weight: var(--regular);
  padding: 1rem 0.5rem 1rem;
  display: none;
}
.acc-active {
  display: block;
}
.acc-item-title::selection,
.item-answer::selection {
  background-color: var(--soft-blue);
  color: var(--white);
}

/* contact container */
.contact {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  padding: var(--container-padding);
  background-color: var(--soft-blue);
}
.contact-text {
  max-width: 450px;
  min-width: 150px;
}
.contact-text .subtitle {
  font-size: 0.75rem;
  margin-bottom: 1rem;
  color: var(--white);
}
.contact-text .title {
  margin: 0;
  color: var(--white);
}

.contact-form {
  width: 100%;
  min-width: 150px;
  max-width: 500px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 2rem;
}
.input-container {
  position: relative;
  width: 100%;
  height: 50px;
  max-width: 350px;
  display: flex;
  align-items: stretch;
  margin-right: 0.5rem;
}

input[type='text'] {
  width: 100%;
  height: 100%;
  outline: none;
  border-radius: 0.3rem;
  color: var(--dark-blue);
  border: 3px solid var(--soft-blue);
  font-weight: var(--medium);
  padding: 0.5rem 2rem 0.5rem 1rem;
  box-shadow: inset hsl(0, 10%, 95%) -2px 4px;
}
input::placeholder {
  font-weight: var(--regular);
  color: var(--grayish-blue);
}
input.error-active {
  border-color: var(--soft-red);
}

.error-icon {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translate(-5px, -50%);
  width: 28px;
  padding: 0 5px;
  display: none;
}

.error-msg {
  position: absolute;
  top: 3.2rem;
  left: 2px;
  padding: 0.2rem 0.75rem;
  font-size: 0.75rem;
  color: var(--white);
  background-color: var(--soft-red);
  border-radius: 1rem 1000px 1000px;
  display: none;
}

.error-active {
  display: block;
}
.contact-btn {
  height: 50px;
  min-width: 150px;
  margin: 0;
  border-color: var(--soft-red);
  background-color: var(--soft-red);
  color: var(--white);
}
.contact-btn:hover {
  border-color: var(--soft-red);
  color: var(--soft-red);
  background-color: var(--white);
}

.contact-msg {
  position: fixed;
  top: 3rem;
  left: 50%;
  padding: 1rem 2rem;
  border-radius: 10000px;
  transform: translate(-50%, -50%);
  text-align: center;
  font-size: 1rem;
  background-color: hsl(120, 87%, 88%);
  color: var(--dark-blue);
  display: none;
}
.footer {
  width: 100%;
  padding: 0.5rem 6rem;
  display: flex;
  flex-direction: column;
  background-color: var(--dark-blue);
}
.footer-menu {
  width: 100%;
  display: flex;
  align-items: stretch;
  justify-content: space-between;
  margin-bottom: 0.25rem;
}
.footer-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  transform: scale(1.5);
  filter: invert(100%) brightness(200%) hue-rotate(170deg);
  margin: 0 2rem 0 1.5rem;
}
.footer-nav {
  width: 100%;
  display: flex;
  align-items: stretch;
  justify-content: space-between;
}
.footer-nav-list,
.footer-social-list {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer-link-item {
  align-items: stretch;
  padding: 0.5rem;
}
.footer-link-item a {
  color: var(--white);
  text-decoration: none;
  font-size: var(--nav-link-item);
  font-weight: var(--medium);
  text-transform: uppercase;
}
.footer-link-item a:hover,
.footer-link-item a:focus {
  color: var(--soft-red);
}
.footer-social-item {
  padding: 1rem;
  margin-right: 0.5rem;
}
.footer-social-item i {
  transform: scale(1.5);
  color: var(--white);
}
.footer-social-item i:hover,
.footer-social-item i:focus {
  color: var(--soft-blue);
}
.footer-social-item:last-child {
  margin: 0;
}
.attribution {
  color: var(--white);
  text-align: left;
  font-size: 0.75rem;
}
.attribution a {
  color: var(--soft-blue);
  text-decoration: none;
  border-bottom: 2px solid var(--dark-blue);
}
.attribution a:hover {
  color: var(--soft-red);
  border-color: var(--white);
}
.menu-icon {
  display: none;
}
.active-menu {
  display: none;
}
@media all and (max-width: 1020px) {
  .header-menu {
    position: relative;
    align-items: center;
    padding: var(--container-padding);
  }
  .logo {
    width: 80px;
    margin: 0 0.5rem;
    transform: scale(1.5);
  }
  .header-nav-menu {
    display: none;
  }
  .menu-icon {
    display: flex;
  }

  img {
    width: 100px;
  }
  .btn {
    width: 100%;
  }
  .hero {
    display: flex;
    flex-direction: column-reverse;
    margin: 0;
    padding: 0;
    align-items: center;
  }
  .hero-main {
    margin: 0;
    padding: var(--container-padding);
    margin-top: 2rem;
    align-items: center;
  }
  .hero-text {
    text-align: center;
  }
  .hero-btn-menu {
    justify-content: space-between;
    flex-wrap: nowrap;
  }
  .hero-illustration {
    padding: 2rem 0 2rem 4rem;
    align-self: flex-end;
    width: 100%;
    max-width: 450px;
    height: 100%;
    max-height: 200px;
  }
  .hero-illustration img {
    margin: 0 0 8rem -20rem;
  }
  .features {
    align-items: center;
  }
  .feature-text {
    padding: 0 2rem;
  }
  .tab-list {
    padding: var(--container-padding);
    flex-direction: column;
    width: 100%;
    text-align: center;
    align-items: center;
    box-shadow: none;
    margin-bottom: 2rem;
  }
  .tab-list-item {
    border: none;
    border-bottom: 2px solid var(--grayish-blue);
    width: 100%;
    margin: 0;
    border-radius: 0;
    max-width: 500px;
  }
  .tab-list-item:first-child {
    border-top: 2px solid var(--grayish-blue);
  }
  .tab-list-item p {
    width: max-content;
    border-bottom: 4px solid var(--white);
  }
  .tab-list-item p:focus,
  .tab-list-item p:hover,
  .tab-list-item.active p {
    border-color: var(--soft-red);
    /* border-width: 4px; */
    color: var(--dark-blue);
  }
  .tab-list-item:focus,
  .tab-list-item:hover,
  .tab-list-item.active {
    border-color: var(--grayish-blue);
  }
  .tab-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 2rem 0;
    display: none;
  }
  .tab-item-text {
    padding: 0;
    width: 100%;
    align-items: center;
    padding: var(--container-padding);
    margin: 0;
  }

  .tab-text {
    text-align: center;
  }
  .tab-btn {
    width: max-content;
  }
  .tab-item-illustration {
    width: 100%;
    align-self: flex-start;
    margin: 8rem 10rem 0 0;
    padding-right: 2rem;
    max-height: 200px;
    min-width: 80px;
    max-width: 400px;
  }

  .active {
    display: flex;
  }

  .download-menu {
    margin: 0;
    flex-direction: column;
  }
  .card {
    margin: 0 0 1.5rem;
  }
  .card:nth-of-type(2n + 1) {
    transform: none;
  }
  .faq-btn {
    width: max-content;
  }
  .contact-form {
    flex-direction: column;
  }
  .input-container {
    width: 100%;
    height: 55px;
    max-width: none;
    margin-bottom: 2rem;
  }
  .input {
    font-size: 1rem;
  }
  .error-msg {
    top: 3.6rem;
  }
  .contact-btn {
    font-size: 1.25rem;
    height: 55px;
  }
  .footer {
    padding: var(--container-padding);
  }
  .footer-menu {
    flex-direction: column;
    align-items: center;
    margin-bottom: 1rem;
  }
  .footer-logo {
    width: 100px;
    transform: scale(1.5);
    margin: 0 0 1rem;
  }
  .footer-nav {
    flex-direction: column;
    align-items: center;
  }
  .footer-nav-list {
    width: 100%;
    text-align: center;
    flex-direction: column;
    align-items: center;
    margin-bottom: 1rem;
  }
  .footer-social-list {
    width: 100%;
  }
  .footer-link-item {
    width: max-content;
    border-bottom: 2px solid var(--dark-blue);
    padding: 0.25rem;
  }
  .footer-link-item:hover {
    border-bottom: 2px solid var(--white);
  }

  .attribution {
    text-align: center;
  }
  .contact-msg {
    font-size: 0.75rem;
  }
  .active-menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    z-index: 10;
    padding: 2rem 4rem;
    border: 2px solid white;
    background-color: hsl(229, 31%, 21%, 0.9);
    display: none;
  }
  .menu-header {
    display: flex;
    flex-direction: column;
    height: 100%;
    margin-bottom: 2rem;
  }
  .menu-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2rem;
  }
  .active-menu-logo {
    margin: 0 1rem 0 3rem;
    filter: sepia(90%) invert(200%) brightness(200%);
    transform: scale(2);
  }
  #close {
    transform: scale(2);
    margin: 0 0.5rem 0 1rem;
    color: white;
  }
  #close:hover {
    color: var(--soft-blue);
  }
  .nav-header {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .list {
    width: 100%;
    list-style: none;
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 2rem;
  }
  .link-item {
    padding: 1rem;
    border-bottom: 1px solid var(--light-gray);
    width: 100%;
  }
  .link-item:first-child {
    border-top: 1px solid var(--light-gray);
  }
  .link-item a {
    color: var(--white);
    text-decoration: none;
    padding: 1rem;
    border-radius: 2px;
    border-bottom: 4px solid hsl(229, 31%, 21%, 0);
    font-size: 1.5rem;
    letter-spacing: 2.5px;
    text-transform: uppercase;
  }
  .link-item a:hover,
  .link-item a:focus {
    border-color: var(--white);
    color: var(--soft-blue);
  }
  .menu-btn {
    font-size: 1.5rem;
    border-color: var(--white);
    background-color: hsl(229, 31%, 21%);
    color: var(--white);
    letter-spacing: 2.5px;
  }
  .menu-btn:hover,
  .menu-btn:focus {
    background-color: var(--white);
    color: var(--dark-blue);
    border-color: var(--dark-blue);
  }
  .social-nav {
    margin-top: 2rem;
  }
  .social-list {
    align-self: flex-end;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .social-item {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    width: 50px;
    height: 50px;
  }
  .social-item i {
    transform: scale(2);
    color: var(--white);
  }
  .social-item i:hover {
    color: var(--soft-blue);
  }
}

@media all and (max-width: 420px) {
  .hero-btn-menu {
    flex-direction: column;
  }
  .btn-blue {
    margin: 0;
    margin-bottom: 1rem;
  }
  .active-menu {
    overflow: scroll;
    padding: 2rem;
  }
  .menu-header {
    margin-bottom: 2rem;
  }
  .menu-nav {
    flex-direction: column;
    margin: 0;
  }
  .active-menu-logo {
    margin: 0;
    transform: scale(1);
    margin-bottom: 0.75rem;
  }
  #close {
    transform: scale(1);
    margin: 0;
  }
  .link-item a {
    font-size: 0.75rem;
  }
  .menu-btn {
    font-size: 0.75rem;
  }
  .social-nav {
    margin: 8rem 0 0;
  }
  .social-item {
    padding: 0.5rem;
  }
  .social-item i {
    transform: scale(1);
  }
}
